.add-branch {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: #3b465c;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bd-navbar {
  height: 10vh;
  background-color: #30394a;
}

.App-link {
  color: #09d3ac;
}

#root {
  min-height: 100vh;
}

#full-layout {
  min-height: 100vh;
}
